DB_URL="postgres://postgres:postgres@localhost:5432/chirpy?sslmode=disable"
PLATFORM=dev
JWT_SECRET="G5xBHheUBEmeB52h7dxegg29CyRpKVuxNvJDjVwXa3hZzTVgM3MVU79P3wOArDgaaGt9Ac7byfc3aJBJuoieAQ=="
POLKA_KEY=f271c81ff7084ee5b99a5091b42d486e

